<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Best Places to Eat Across Cities</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Bangalore</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Pune</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Mumbai</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Delhi</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Hyderabad</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Kolkata</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Chennai</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Chandigarh</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Ahemedabad</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Jaipur</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Best Restaurants in Nagpur</b>
        </a>
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Show More</b>
        </a>
    </div>
</div>



<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Best Cuisines Near Me</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Chinese Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">South Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Kerala Restaurant Near Me</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Korean Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">North Indian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Seafood Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Bengali Restaurant Near Me</b>
        </a>

        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Punjabi Restaurant Near Me</b>
        </a>
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Italian Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Andhra Restaurant Near Me</b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Show More</b>
        </a>
    </div>
</div>



<div class="container mx-auto px-4 md:px-20 lg:px-36 pt-14">
    <h2 class="text-xl font-extrabold mb-4">Explore Every Restaurants Near Me </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <a href="#" class="p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Explore Restaurants Near Me </b>
        </a>
        <a href="#" class=" p-4 rounded-md hover:bg-gray-200 border border-gray-200 flex items-center justify-center">
            <b class="text-sm text-gray-700">Explore Top Rated Restaurants Near Me</b>
        </a>        
    </div>
</div>


<footer class="bg-white border-t border-gray-200 mx-56">
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row justify-between items-center pt-20">
            <div class="mb-8 md:mb-0 flex flex-col items-center md:items-start">
                <img src="assets/Swiggylogo.png" alt="Swiggy Logo" class="w-20 h-20">
                <p class="text-xs text-gray-500 mt-2">© 2024 Swiggy Limited</p>
            </div>
            
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 text-center md:text-left">
                <div>
                    <h3 class="text-lg font-semibold text-gray-800">Company</h3>
                    <ul class="mt-4 space-y-2">
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">About Us</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy Corporate</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Careers</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Team</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy One</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy Instamart</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy Dineout</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy Genie</a></li>
                    </ul>
                </div>
                
                <div>
                    <h3 class="text-lg font-semibold text-gray-800">Contact Us</h3>
                    <ul class="mt-4 space-y-2">
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Help & Support</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Partner with us</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Ride with us</a></li>
                    </ul>
                    <h3 class="text-lg font-semibold text-gray-800 mt-6">Legal</h3>
                    <ul class="mt-4 space-y-2">
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Terms & Conditions</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Cookie Policy</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Privacy Policy</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Investor Relations</a></li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-lg font-semibold text-gray-800">Available in:</h3>
                    <ul class="mt-4 space-y-2">
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Bangalore</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Gurgaon</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Hyderabad</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Delhi</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Mumbai</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Pune</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">679 cities</a></li>
                    </ul>
                </div>

                <div>
                    <h3 class="text-lg font-semibold text-gray-800">Life at Swiggy</h3>
                    <ul class="mt-4 space-y-2">
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Explore with Swiggy</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Swiggy News</a></li>
                        <li><a href="#" class="text-sm text-gray-500 hover:text-gray-700">Snackables</a></li>
                    </ul>

                    <h3 class="text-lg font-semibold text-gray-800 mt-6">Social Links</h3>
                    <div class="flex mt-4 space-x-4 justify-center md:justify-start">
                        <a href="#" class="text-gray-500 hover:text-gray-700"><img src="assets/linkedin-logo.png" alt="LinkedIn" class="w-6 h-6"></a>
                        <a href="#" class="text-gray-500 hover:text-gray-700"><img src="assets/facebook-icon.png" alt="Facebook" class="w-6 h-6"></a>
                        <a href="#" class="text-gray-500 hover:text-gray-700"><img src="assets/pinterest-icon.png" alt="Pinterest" class="w-6 h-6"></a>
                        <a href="#" class="text-gray-500 hover:text-gray-700"><img src="assets/twitter-icon.png" alt="Twitter" class="w-6 h-6"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-10 flex flex-col md:flex-row items-center justify-center md:justify-between space-y-4 md:space-y-0">
            <b class="text-gray-800 text-sm">For a better experience, download the Swiggy app now</b>
            <div class="flex space-x-4">
                <a href="#"><img src="assets/play_store.avif" alt="Google Play" class="w-24"></a>
                <a href="#"><img src="assets/app_store.avif" alt="App Store" class="w-24"></a>
            </div>
        </div>
    </div>
</footer>
